General

.DS_Store
/build/
.idea/
*.iml
*.ipr
*.iws

Flutter

.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.podspec
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Flutter/flutter_export_environment.sh
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/android/.gradle/
/android/app/build/
/android/build/
/android/app/google-services.json